default_language_version:
  python: python3.10
repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        description: wemake-python-styleguide enforcement
        entry: flake8
        args: ["--config=setup.cfg"]
        language: python
        types: [python]
        additional_dependencies: [wemake-python-styleguide>=0.17.0]
  - repo: https://github.com/PyCQA/docformatter
    rev: v1.7.5
    hooks:
      - id: docformatter
        args: ["--in-place"]
        language: python
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.13.0'
    hooks:
      - id: mypy
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=2048']
      - id: check-toml
      - id: check-json
      - id: check-yaml
        args:
          - '--unsafe'
      - id: double-quote-string-fixer
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: end-of-file-fixer
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: detect-private-key
  - repo: 'https://github.com/pycqa/isort'
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: 'https://github.com/psf/black'
    rev: 24.10.0
    hooks:
      - id: black
        args: ["--skip-string-normalization", "--line-length=120"]
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
  - repo: 'https://github.com/executablebooks/mdformat'
    rev: 0.7.19
    hooks:
      - id: mdformat
  - repo: 'https://github.com/kynan/nbstripout'
    rev: 0.8.1
    hooks:
      - id: nbstripout
  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint
        stages: [pre-commit]
